openapi: '3.0.0'
info:
  version: 1.0.0
  title: Merkle Science Documentation
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /risks:
    get:
      summary: List all risks
      operationId: listRisks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of risks
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a risk
      operationId: createRisk
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /risks/{riskId}:
    get:
      summary: Info for a risk
      operationId: showRiskById
      parameters:
        - name: riskId
          in: path
          required: true
          description: The id of the risk to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /alerts:
    get:
      summary: List all alerts
      operationId: listAlerts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of alerts
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alerts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create an alert
      operationId: createAlert
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /alerts/{alertId}:
    get:
      summary: Info for an alert
      operationId: showAlertById
      parameters:
        - name: alertId
          in: path
          required: true
          description: The id of the alert to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alerts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Risk:
      required:
        - id
        - category
      properties:
        id:
          type: integer
          format: int64
        category:
          type: string
        score:
          type: integer
    Risks:
      type: array
      items:
        $ref: '#/components/schemas/Risk'
    Alert:
      required:
        - id
        - type
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        severity:
          type: string
    Alerts:
      type: array
      items:
        $ref: '#/components/schemas/Alert'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string